<div class="ajustes">
  <hr class="featurette-divider" />
<div class="row featurette">
  <div class="col-md-7" data-aos="flip-down">
    <h2 class="featurette-heading fw-normal lh-1">
      Minha experiencia profissional
    </h2>
    <p class="lead" data-aos="fade-up-left">
      A FAPJ é a primeira empresa que eu colaboro, nele obtive experiencia profissional na área de marketing gigital e desenvolvimento de software. Falando da primeira area em que eu trabalhei na FAPJ que é a de marketing digital, nesta mesma área eu trabalhei na promoção das redes sociais (Insstagram, facebook, linkedin), que envolveu criar campanhas e conteúdos relevantes para atrir e engajar o publico alvo.
    </p>
    <p class="lead" data-aos="flip-down">
      Depois tive a oportunidade de mudar de área, essa mudança envolveu um grande sacrificio da minha parte de estar capacidado para criar um novo web-site para a empresa visto que eu tinha feito uma outra formação que foi a desenvolvedor Full-stack java. Eu abracei essa oportunidade com 2 mãos, porque eu gosto de desafios e não gosto de ficar parado. Esse desafio envolveu criar um web-site do ui ux até o backend. Tive a oportunidade de criar o design do site por completo (ui ux - Frontend - Backend).
    </p>
  </div>
  <div class="col-md-5">
    <img src="../../../assets/images/download(3).jpeg" alt="" width="100%">
  </div>
</div>

<hr class="featurette-divider" />
<div class="row featurette" data-aos="fade-down-left">
  <div class="col-md-7 order-md-2" data-aos="fade-down-right">
    <h2 class="featurette-heading fw-normal lh-1">
      "Não ha nada melhor do que desafiar as nossas capacidades"
      <!--<span class="text-body-secondary">Veja você mesmo.</span>-->
    </h2>
    <p class="lead">
      A minha experiencia de marketing digital também foi muito útil porque deu-me a capacidade de analisar em como poderia criar um site que ajudaria a empresa em alcançar o seu público alvo, e que nessa conformidade achei melhor criar um site que tenha uma boa interação com usuário. Até chegar ao layout principak o site passou por diversas alterações. Cada dia alterava algo e isso robou-me muito tempo por não ter um layout definido com as suas devidas medidas.
      Como eu tinha dito dito no principio eu gosto de desafios e sendo assim coloquei a mão na massa. Tem uma frase do Mark Zuckerberg que eu gosto muito é a seguinte: Apenas comece, e foi isso que eu fiz e sendo assim consegui ultrapassar os meus medos e desafios. "Cada dia resolvia um problema".
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="../../../assets/images/501685588_18133945486418000_7977250104026483418_n.webp" alt="" width="100%">
  </div>
</div>

<hr class="featurette-divider" />
<div class="row featurette" data-aos="flip-right">
  <div class="col-md-7" data-aos="zoom-in-up">
    <h2 class="featurette-heading fw-normal lh-1">
      Dúvidas que surgiram no decorrer do projeto?
    </h2>
    <p class="lead">
      Eu comecei por criar o projecto da empresa com HTML CSS e JAVASCRIPT porque a empresa não tinha recomendado um framework especifico para fazer o site.
      Nesta conformidade eu tive que pensar nos prós e contras de cada framework. Na Ebac eu estudei React, Vuejs. Por incrivel que pareça não escolhi nenhum dos 2 frameworks ou bibliotecas(React).
    </p>
    <p class="lead">
      Não escolhi o Vuejs por ser simples demais, mas ele é muito bom para pequenos projectos devido a sua pequena complexidade e rápida aprendizagem.
      Não escolhi o React porque não gosto de instalar muitas dependencias no projecto.
      Foi assim que me aventurei a aprender Angular , felizmente gostei muito do angular, apesar de ser muito complexo o que leva mais tempo para aprender.
    </p>
    <p class="lead">
      OBS: Não sou contra as empresas que utilizam Vuejs e React nos seus projectos, visto que são apenas ferramentas que ajudam no desenvolvimento de uma aplicação web, foi apenas uma decisão que eu tomei, não tenho nenhum receio em trabalhar com React ou Vuejs.
    </p>
  </div>
  <div class="col-md-5">
    <img src="../../../assets/images/501979225_18133945483418000_3744835259783771437_n.webp" alt="" width="100%">
  </div>
</div>
<hr class="featurette-divider" />

</div>
