<div class="ajustes">
  <hr class="featurette-divider" />
<div class="row featurette">
  <div class="col-md-7" data-aos="flip-down">
    <h2 class="featurette-heading fw-normal lh-1">
      Minha experiência profissional
    </h2>
    <p class="lead" data-aos="fade-up-left">
      A FAPJ é a primeira empresa com a qual colaborei. Nela obtive experiência profissional na área de marketing digital e desenvolvimento de software. Falando da primeira área em que trabalhei na FAPJ, que foi a de marketing digital, atuei na promoção das redes sociais (Instagram, Facebook, LinkedIn), o que envolveu criar campanhas e conteúdos relevantes para atrair e engajar o público-alvo.
    </p>
    <p class="lead" data-aos="flip-down">
      Depois, tive a oportunidade de mudar de área. Essa mudança envolveu um grande sacrifício da minha parte para estar capacitado a criar um novo website para a empresa, visto que tinha feito uma outra formação — a de Desenvolvedor Full-stack Java. Abracei essa oportunidade com as duas mãos, porque gosto de desafios e não gosto de ficar parado. Esse desafio envolveu criar um website desde o UI/UX até ao backend. Tive a oportunidade de criar o design completo do site (UI/UX — Frontend — Backend).
    </p>
  </div>
  <div class="col-md-5">
    <img src="../../../assets/images/download(3).jpeg" alt="" width="100%">
  </div>
</div>

<hr class="featurette-divider" />
<div class="row featurette" data-aos="fade-down-left">
  <div class="col-md-7 order-md-2" data-aos="fade-down-right">
    <h2 class="featurette-heading fw-normal lh-1">
      "Não há nada melhor do que desafiar as nossas capacidades"
      <!--<span class="text-body-secondary">Veja você mesmo.</span>-->
    </h2>
    <p class="lead">
      A minha experiência em marketing digital também foi muito útil, pois deu-me a capacidade de analisar como poderia criar um site que ajudasse a empresa a alcançar o seu público-alvo. Nessa conformidade, achei melhor criar um site que proporcionasse uma boa interação com o utilizador. Até chegar ao layout principal, o site passou por diversas alterações. Diariamente fazia muitas alterações, e isso roubou-me muito tempo por não ter um layout definido com as suas devidas medidas.
      Como mencionado acima, gosto de desafios e, sendo assim, pus as mãos na massa. Há uma frase do Mark Zuckerberg de que gosto muito, que é a seguinte: "Apenas comece", e foi isso que eu fiz. Assim, consegui ultrapassar os meus medos e desafios. "Todos os dias resolvia um problema".
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="../../../assets/images/501685588_18133945486418000_7977250104026483418_n.webp" alt="" width="100%">
  </div>
</div>

<hr class="featurette-divider" />
<div class="row featurette" data-aos="flip-right">
  <div class="col-md-7" data-aos="zoom-in-up">
    <h2 class="featurette-heading fw-normal lh-1">
      Dúvidas que surgiram no decorrer do projecto?
    </h2>
    <p class="lead">
      Comecei por criar o projecto da empresa com HTML, CSS e JavaScript, porque a empresa não tinha recomendado um framework específico para desenvolver o site.
      Nessa conformidade, tive de ponderar os prós e contras de cada framework. Na EBAC, estudei React e Vue.js. Por incrível que pareça, não escolhi nenhum dos dois frameworks ou biblioteca (React).
    </p>
    <p class="lead">
      Não escolhi o Vue.js por ser simples demais, embora seja muito bom para pequenos projectos, devido à sua baixa complexidade e rápida aprendizagem.
      Foi assim que me aventurei a aprender Angular. Felizmente, gostei muito do Angular, apesar de ser bastante complexo, o que exige mais tempo de aprendizagem.
    </p>
    <p class="lead">
      OBS: Aprecio igualmente empresas que utilizam Vue.js e React nos seus projectos, visto que são apenas ferramentas que ajudam no desenvolvimento de uma aplicação web.
    </p>

  </div>
  <div class="col-md-5">
    <img src="../../../../assets/images/501979225_18133945483418000_3744835259783771437_n.jpg" alt="" width="100%">
  </div>
</div>
<hr class="featurette-divider" />

</div>
