<app-container>
  <section class="first">
    <header class="main-header">
      <div class="container-interno">
        <span class="fs-4">FerPinho</span>
        <nav id="menu-navegacao">
        </nav>
      </div>
    </header>

    <app-descricao></app-descricao>
    <app-experiencia-profissional></app-experiencia-profissional>
    <app-ferramentas></app-ferramentas>
  <app-certificados></app-certificados>
  <app-projectos></app-projectos>
  <footer id="footer" class="footer container py-4 mt-5 border-top">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <a href="/" class="text-body-secondary text-decoration-none me-2" aria-label="Bootstrap">
          <svg class="bi" width="30" height="24" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="text-body-secondary">© 2025 FerPinho</span>
      </div>

      <div class="col-md-6 text-center text-md-end">
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-end gap-3 mb-0">
          <li>
            <a class="text-body-secondary" href="#" aria-label="Instagram">
              <svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="text-body-secondary" href="#" aria-label="Facebook">
              <svg class="bi" width="24" height="24" aria-hidden="true">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  </section>
</app-container>
