<div class="first" data-aos="fade-right">
    <!--<img src="../../../assets/images/Screenshot_20220518-150502_Gallery.jpg" alt="" width="50%">-->
    <img src="assets/images/Screenshot_20220518-150502_Gallery.jpg" alt="" width="50%">

    <div class="quem-sou" data-aos="fade-up">
      <h1>Sou um Desenvolvedor De Software <br> Especialista em Frontend </h1>
      <p>
        Sou o Fernando Pinho, jovem apaixonado em tecnologias, gosto de aprender coisas novas de forma descontraida, sou autodidata e pesquisador.
      </p>
      <p>Como obtive o conhecimento de tudo aquilo que sei hoje?</p>
      <p>Fiz várias formações profissionas na área de desenvolvimento de software, a principal formação que eu fiz foi na Ebac uma instituição Brazileira, foi a porta de entrada para o mundo da programação web, comecei por fazer uma formação de desenvolvedor Full-stack java, onde aprendi a base de tudo, depois fiz algumas formações complementares que vou mencionar mais a frente</p>
      <p>
        Falando sobre a área de desenvolvimento de software, está devidida em 2 partes, que são o frontend e backend, frontend é a parte visivel de um aplicativo ou site, trata da interação com o usuário ajudando a agregar o valor necessario para a página web (ux), com animacões que vão transmitir a informação de forma divertida.
        O backend trata da lógica do servidor.
      </p>
    </div>
</div>
