<div class="first" data-aos="fade-right">
    <!--<img src="../../../assets/images/Screenshot_20220518-150502_Gallery.jpg" alt="" width="50%">-->
    <img src="assets/images/Screenshot_20220518-150502_Gallery.jpg" alt="" width="50%">

    <div class="quem-sou" data-aos="fade-up">
      <h1>Sou um Desenvolvedor De Software <br> Especialista em Frontend </h1>
        <p>
          Sou o Fernando Pinho, jovem apaixonado por tecnologias, gosto de aprender coisas novas de forma descontraída, sou autodidata e pesquisador.
        </p>
        <p>Como obtive o conhecimento de tudo aquilo que sei hoje?</p>
        <p>Fiz várias formações profissionais na área de desenvolvimento de software. A principal formação que fiz foi na EBAC, uma instituição brasileira. Foi a porta de entrada para o mundo da programação web. Comecei por fazer uma formação de Desenvolvedor Full-stack Java, onde aprendi a base de tudo. Depois, fiz algumas formações complementares que vou mencionar mais à frente.</p>
        <p>
          Falando sobre a área de desenvolvimento de software, esta divide-se em duas partes: frontend e backend. O frontend é a parte visível de uma aplicação ou site, trata da interação com o utilizador, ajudando a agregar o valor necessário para a página web (UX), com animações que transmitem a informação de forma divertida.
        O backend trata da lógica do servidor.
</p>

    </div>
</div>
