

<div class="projectos">
  <h1>Projectos pessoais e Experiência Profissional</h1>
  <ul class="links">
    <li class="nav-item">
      <a href="https://p1-react-iota.vercel.app" target="_blank" rel="noopener noreferrer">
        Projecto React
      </a>
      <p>Loja virtual</p>
    </li>
    <li class="nav-item">
      <a href="https://lista-de-usuarios-lyart.vercel.app" target="_blank" rel="noopener noreferrer">
        Projecto Angular
      </a>
      <p>Lista de Usuários</p>
    </li>
    <li class="nav-item">
      <a href="https://servicodetraducao.ao/home" target="_blank" rel="noopener noreferrer">
        Experiência Profissional
      </a>
      <p>FAPJ</p>
    </li>
    <li class="nav-item">
      <a href="https://servicodetraducao.ao/home" target="_blank" rel="noopener noreferrer">
        Experiência Profissional
      </a>
      <p>FAPJ</p>
    </li>
  </ul>
</div>

