

<div class="projectos">
  <h1>Projectos pessoais e Experiência Profissional</h1>
  <ul class="links">
    <li class="nav-item">
      <a href="https://p1-react-iota.vercel.app" target="_blank" rel="noopener noreferrer">
        Projecto React
      </a>
      <p>Loja virtual</p>
      <p>Nesse projecto criei componentes sass com styled-components, que permite escrever css diretamente dos componentes e também inclui funcionalidades do TypeScript</p>
    </li>
    <li class="nav-item">
      <a href="https://lista-de-usuarios-lyart.vercel.app" target="_blank" rel="noopener noreferrer">
        Projecto Angular
      </a>
      <p>Lista de Usuários</p>
      <p>Esse projecto é uma lista de usuários, os dados são obtidos por meio de chamadas HTTP. Também criei a validação dos formulários. A lista dos países foi obtida a partir de uma API do Postman.</p>
    </li>
    <li class="nav-item">
      <a href="https://login-pink-six.vercel.app/login" target="_blank" rel="noopener noreferrer">
        Login
      </a>
      <p>Este projecto serve para testar a segurança do login para usuários que não estão registados.</p>
    </li>
    <li class="nav-item">
      <a href="https://servicodetraducao.ao/home" target="_blank" rel="noopener noreferrer">
        Experiência Profissional
      </a>
      <p>FAPJ</p>
    </li>
  </ul>
</div>

